# Virutal environments
/venv
Lib/
Scripts/
pyvenv.cfg
.gitignore~

# VSCode
.vscode/

# Python cache
*/.pytest_cache
/__pycache__

# Python binaries
*.pyc

# log files
*.log

# Pycharm and Idea
.idea

# swagger file
swagger.json

# coverage
.coverage
