# Virutal environments
/venv
Lib/
Scripts/
pyvenv.cfg

# VSCode
.vscode/

# PyCharm & Idea
.idea

# Python cache
*/.pytest_cache
/__pycache__

# Python binaries
*.pyc

# log files
*.log

# swagger file
swagger.json
/.mypy_cache/
